.layout-2 main {
    width: calc(100vw - 250px);
}

.layout-2 main>article {
    height: calc(100vh - 60px);
    overflow-y: auto;
}

@media screen and (max-width:992px) {
    aside.sidenav {
        width: 0 !important;
    }
     aside.sidenav.show {
        width: 100% !important;
        background-color: rgba(0,0,0,0.5);
        position:fixed;
        top:0;
        left:0;
        z-index: 1030;
    }
    aside.sidenav.show ul.side-menu{
        width: 250px;
    }
}

aside.sidenav {
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    border-right: 2px solid #dee2e6;
}

aside.sidenav .brand {
    height: 56px;
}

aside.sidenav li.list-group-item {
    padding: 0rem !important;
    border-right: 0px;
}

aside.sidenav li.list-group-item .submenu .list-group-item {
    border: 0px;
}

aside.sidenav li.list-group-item a {
    padding: .5rem !important;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    color: rgb(33, 37, 41);
}

aside.sidenav li.list-group-item.active {
    background-color: #f6f9ff;

}